@import url("./themes/rose-pine-moon.css");

* {
    font-size: 14px;
    font-family: Ioveska Nerd Font, monospace;
}

window#waybar {
    all: unset;
}

tooltip {
    color: @text;
    background: @base;
}

.modules-left {
    padding: 7px;
    border-radius: 10px;
    margin: 5px 0 0 10px;
    background: alpha(@base, 0.8);
}

.modules-center {
    padding: 7px;
    border-radius: 10px;
    margin: 5px 0 0 0;
    background: alpha(@base, 0.8);
}

.modules-right {
    padding: 7px;
    border-radius: 10px;
    margin: 5px 10px 0 0;
    background: alpha(@base, 0.8);
}

#custom-notification {
    color: @gold;
    padding: 0 5px;
}

#clock {
    padding: 0 5px;
}

#workspaces {
    padding: 0 2px;
}

#workspaces button {
    all: unset;
    padding: 0 5px;
    background: alpha(@surface, 0.6);
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button.focused:nth-child(1) {
    background-color: @love;
}

#workspaces button.focused:nth-child(2) {
    background-color: @rose;
}

#workspaces button.focused:nth-child(3) {
    background-color: @gold;
}

#workspaces button.focused:nth-child(4) {
    background-color: @foam;
}

#workspaces button.focused:nth-child(5) {
    background-color: @pine;
}

#workspaces button.focused:nth-child(6) {
    background-color: @iris;
}

#pulseaudio {
    padding: 0 5px;
}

#network {
    padding: 0 5px;
}

#battery {
    color: @text;
    padding: 0 5px;
}

#battery.charging {
    color: @gold;
}

#battery.critical {
    color: @love;
}
