* {
    font-size: 14px;
    min-height: 25px;
    font-family: Ioveska Nerd Font, monospace;
}

window#waybar {
    color: #fefefe;
    background-color: #1a1a1a;
}

#window {
    margin: 0 4px;
}

#workspaces {
    margin: 0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#disk,
#mode,
#clock,
#backlight,
#scratchpad,
#pulseaudio {
    color: #1a1a1a;
    padding: 0 10px;
    background-color: #eb6f92;
}

#battery,
#network,
#custom-power {
    color: #eb6f92;
    padding: 0 10px;
    background-color: #1a1a1a;
}

@keyframes pulse {
    0% {
        color: #eb6f92;
        background-color: #1a1a1a;
    }

    50% {
        color: #1a1a1a;
        background-color: #eb6f92;
    }

    100% {
        color: #eb6f92;
        background-color: #1a1a1a;
    }
}

#workspaces button {
    padding: 0 5px;
    color: #ffffff;
    border-radius: 0;
}

#workspaces button {
    color: #aaaaaa;
}

#workspaces button:hover {
    background: #2a2a2a;
}

#workspaces button.focused {
    color: #1a1a1a;
    background-color: #eb6f92;
}

#battery.urgent {
    animation: pulse 6s infinite;
}

#battery.charging, #battery.plugged {
    animation: none;
    color: #f6c177;
    background-color: #1a1a1a;
}
