
$background: rgba(17, 17, 17, 1.0);

$foreground: rgba(252, 248, 237, 1.0); 
$foreground-ghost: rgba(252, 248, 237, 0.5); 

* {
    all: unset;
    font-family: "JetBrainsMono Nerd Font";
}

.bar {
    color: $foreground;
    background-color: $background;
}

.sep {
    color: $foreground-ghost;
}

.time {
    font-weight: bold;
    padding-right: 20px;
}

.alert {
    color: #aa5555;
    padding: 5px;
}

.item {
    color: $foreground;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

